body, #root {
    overflow: hidden;
    margin : 0 ;
    padding :0 ;

};
*{
    box-sizing: border-box;        

}
.app-container {
    width:100vw;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-items: stretch;
    overflow: hidden;
    background: #4b42ff;

    header {
        grid-area: 1/1/2/2;
        width: 100% ;
        height: calc(25px + 3.2vw);
        //max-height: 10vh;
        overflow: hidden;
    };
    .mark-container {
        grid-area: 2/1/3/2;
        //display : flex;
        background-color: red;

        height: 90vh;
        width : 100vw;
        overflow: hidden;

        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, auto));
        grid-template-rows: repeat(auto-fit, minmax(50%, 1fr));
        
    
    };
};

@import "../Parts/marContaier/markContainer.scss";
@import "../Parts/Header/header.scss";
