.edit, .prev {
    overflow: auto;
    box-sizing: border-box;
};
.edit{
    padding : 2%;

    border-top: none;
    //overflow: auto;
    outline: none;
    touch-action: none;
    box-shadow: none;
    resize: none; 



    background: #2c303a;
    color: white;
    grid-area: 1/1/2/2;
    border-right: 20px solid #010101;

};
.prev{
    padding : 2%;
    background: #fff;
    grid-area: 1/2/2/3;
    
    table{
        background: rgb(54, 54, 54);

        border : 4px solid rgb(39, 39, 39);
        th {
            background: rgb(6, 64, 82);
            color : rgb(245, 244, 238);
        };
        tr{
            background: rgb(226, 225, 225);
        };
    };
    img {
        max-width: 100%;
    }

};
