header {
    display: flex;
    justify-content: space-between;
    background: #010101;
    .right-side{
        display: flex;
        justify-content: flex-end;
        //background: burlywood;
        width: 50%;
        .my-pic{
            max-width: 100%;
        };
    };

};